<section class="terms-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="terms-content">
                       <!-- <div class="mb-5">
                            <h4 class="terms-content-heading text-center fw-semibold">Terms and Conditions</h4>
                       </div> -->
                       <div class="mb-4">
                            <h6 class="terms-content-heading fw-semibold"> Holidays – B2B & Corporate</h6>
                            <p>Exclusive B2B rates with fixed departure flights and hotel room blocks.</p>
                       </div>
                       <div>
                            <div class="page-content mx-4">
                                <ul>
                                    <li>
                                        <p><span class="fs-16 fw-bold">Kashmir Holiday Packages –</span> As locals, we got the finest holiday packages that include everything, featuring premium hotels and comfortable cars.
                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">Goa Holiday Packages – </span> We offer top B2B Goa holiday packages tailored for couples, families, and corporate groups.

                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">Bali Holiday Packages –</span>  Discover our curated Bali holiday packages with luxurious accommodations, private tours, and unique experiences tailored to your needs.

                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">Maldives Holiday Packages –</span> Explore our premium Maldives holiday packages featuring stunning resorts, private escapes, and bespoke experiences.



                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">Private International Packages –</span> We offer exclusive international holiday packages offering luxurious stays, tailored experiences, and exceptional value.



                                        </p>
                                    </li>
                                </ul>
                            </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</section>