<main class="inner-main-section" role="main">
    <section class="listing-block">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="listing-loader-block text-center mt-5 pt-5 mb-5 pb-5">
                <div class="loader-content">
                  <img src="assets/img/abort.png" class="mb-3">
                  <p *ngIf="Bookingid">Booking ID : {{Bookingid}}</p>
                  <p *ngIf="Message">{{Message}}</p>
                  <span class="text-danger">Contact your administrator for more information <a href="tel:{{GetWebSiteData['SupportNo']}}"> {{GetWebSiteData['SupportNo']}} </a> and support email id <a href="mailto:{{GetWebSiteData['SupportEmail']}}"> {{GetWebSiteData['SupportEmail']}} </a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>

