<div class="flight-filter-sidebar">
    <!-- HEADER -->
    <div class="filter-header">
        <div class="filter-heading">
            <h5>Hotel Filters</h5>
        </div>
    </div>
    <!-- PRICE FILTER -->
    <div class="filter-card">
        <div class="filter-card-header">
            <span>Price</span>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-price"></i>
        </div>

        <div class="collapse show" id="filter-price">
            <div class="tts__filter-price price-range-slider">
                <mat-slider [min]="min" [max]="max" class="w-100" (change)="doFilter('','','')">
                    <input [(ngModel)]="Filter['Price']['min']" name="first" matSliderStartThumb>
                    <input [(ngModel)]="Filter['Price']['max']" [ngModelOptions]="{standalone: true}" matSliderEndThumb>
                </mat-slider>
                <div class="d-flex justify-content-between">
                    <span><i class="bi bi-currency-rupee me-1"></i>{{ Filter['Price']['min'] |number:'1.0-2' }}</span>
                    <span><i class="bi bi-currency-rupee me-1"></i>{{ Filter['Price']['max'] |number:'1.0-2' }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header mb-0">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showincvfare" [(ngModel)]="showincentivefare"
                    (ngModelChange)="showfares('incv',showincentivefare)">
                <label class="form-check-label" for="showincvfare">Show Incv</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="shownetfare" [(ngModel)]="shownetfare"
                    (ngModelChange)="showfares('net',shownetfare)">
                <label class="form-check-label" for="shownetfare">Show Net</label>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Hotel Name</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('HotelName')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-HotelName"></i>
        </div>
        <div class="collapse show " id="filter-HotelName">
            <input type="search" class="form-control" placeholder="Search Hotel By Name"
                (input)="search_hotel($event,'HotelName')" (paste)="search_hotel($event,'HotelName')"
                [(ngModel)]="InputHotelNametxt">
            <div class="hotel-search-dropdown" *ngIf="HotelNameList.length!=0">
                <ul class="list-group">
                    <li *ngFor="let item of HotelNameList; let i = index"
                        class="list-group-item hotel-item d-flex align-items-center"
                        (click)="select_hotelname(item,'HotelName')">
                        <i class="fa fa-building me-2"></i>
                        <span class="hotel-name text-truncate">{{ item }}</span>
                        <i class="fa fa-arrow-right ms-auto"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Search By Pincode</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('PinCode')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-pincode"></i>
        </div>
        <div class="collapse show " id="filter-pincode">
            <input type="search" class="form-control" placeholder="Search Hotel By Pincode"
                (input)="search_hotel($event,'PinCode')" (paste)="search_hotel($event,'PinCode')"
                [(ngModel)]="InputPincodetxt">
            <div class="hotel-search-dropdown" *ngIf="PicodeList.length!=0">
                <ul class="list-group">
                    <li *ngFor="let item of PicodeList; let i = index"
                        class="list-group-item hotel-item d-flex align-items-center"
                        (click)="select_hotelname(item,'PinCode')">
                       
                         <i class="fa-solid fa-crosshairs me-2"></i>
                        <span class="hotel-name text-truncate">{{ item }}</span>
                        <i class="fa fa-arrow-right ms-auto"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Hotel Facilities</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('HotelFacilitiesList')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-facility"></i>
        </div>
        <div class="collapse show" id="filter-facility">
            <input type="search" class="form-control filter-search-input" placeholder="Search Hotel By Name"
                (paste)="search_hotel($event,'HotelFacilitiesList')"
                (input)="search_hotel($event,'HotelFacilitiesList')" [(ngModel)]="HotelFacilityText">
            <!-- @if(HotelFacilityText!==''){
            <a class="close-icon-filter" href="javascript:void(0)" (click)="clearFilterByCat('HotelFacilitiesList')"> <i
                    class="fa-solid fa-xmark"></i></a>
            } -->
            <div class="hotel-search-dropdown" *ngIf="HotelFacilitiesList.length!=0">
                <ul class="list-group">
                    <li *ngFor="let item of HotelFacilitiesList; let i=index;"
                        class="list-group-item hotel-item d-flex align-items-center"
                        (click)="select_hotelname(item,'HotelFacilitiesList')">
                        <i class="fa fa-building me-2"></i>
                        <span class="hotel-name text-truncate">{{ item }}</span>
                        <i class="fa fa-arrow-right ms-auto"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Hotel Address</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('HotelAddressList')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-adresss"></i>
        </div>
        <div class="collapse show" id="filter-adresss">
            <input type="search" class="form-control filter-search-input" placeholder="Search Hotel By Address"
                (paste)="search_hotel($event,'HotelAddressList')" (input)="search_hotel($event,'HotelAddressList')"
                [(ngModel)]="HotelAddressText">
            <!-- @if(HotelAddressText!==''){
            <a class="close-icon-filter" href="javascript:void(0)" (click)="clearFilterByCat('HotelAddressList')"> <i
                    class="fa-solid fa-xmark"></i></a>
            } -->
            <div class="hotel-search-dropdown" *ngIf="HotelAddressList.length!=0">
                <ul class="list-group">
                    <li *ngFor="let item of HotelAddressList; let i=index;"
                        class="list-group-item hotel-item d-flex align-items-center"
                        (click)="select_hotelname(item,'HotelAddressList')">
                        <i class="fa fa-building me-2"></i>
                        <span class="hotel-name text-truncate">{{ item }}</span>
                        <i class="fa fa-arrow-right ms-auto"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Star Rating</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('StarRating')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-StarRating"></i>
        </div>
        <div class="collapse show" id="filter-StarRating">
            <div class="form-check" *ngFor="let item of Filter['StarRatingType']; let i=index;">
                <input type="checkbox" [id]="'starRating' + i" value="{{item['label']}}" [(ngModel)]="item['isChecked']"
                    class="al-checkfield airline_filtercheck form-check-input"
                    (click)="doFilter('StarRating',$event,item);">
                <label class="form-check-label" [for]="'starRating' + i">
                    <i class="fa fa-star star-color text-warning" *ngIf="item.label>=1"></i>
                    <i class="fa fa-star star-color text-warning" *ngIf="item.label>=2"></i>
                    <i class="fa fa-star star-color text-warning" *ngIf="item.label>=3"></i>
                    <i class="fa fa-star star-color text-warning" *ngIf="item.label>=4"></i>
                    <i class="fa fa-star star-color text-warning" *ngIf="item.label>=5"></i>
                    <span *ngIf="item.label==0">No Rating</span>
                </label>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Hotel Meal</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('HotelMealType')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-mealtype"></i>
        </div>
        <div class="collapse show" id="filter-mealtype">
            <div class="form-check" *ngFor="let item of Filter['HotelMealType']; let i=index;">
                <input type="checkbox" [id]="item['label']" value="{{item['label']}}" [(ngModel)]="item['isChecked']"
                    class="al-checkfield form-check-input" (click)="doFilter('HotelMealType',$event,item);">
                <label class="form-check-label" [for]="item['label']">{{item['ShowValue']}}</label>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Fare Type</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('FareType')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-FareType"></i>
        </div>
        <div class="collapse show" id="filter-FareType">
            <div class="form-check" *ngFor="let item of Filter['FareType']; let i=index;">
                <input type="checkbox" [id]="item['label']" value="{{item['label']}}" [(ngModel)]="item['isChecked']"
                    class="al-checkfield form-check-input" (click)="doFilter('FareType',$event,item);">
                <label class="form-check-label" [for]="item['label']">{{item['ShowValue']}}</label>
            </div>
        </div>
    </div>
    @if(Filter['PropertyType'].length!==0){
    <div class="filter-card">
        <div class="filter-card-header">
            <span>Property Type</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('PropertyType')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-PropertyType"></i>
        </div>
        <div class="collapse show" id="filter-PropertyType">
            <div class="form-check" *ngFor="let item of Filter['PropertyType']; let i=index;">
                <input type="checkbox" [id]="item['label']" value="{{item['label']}}" [(ngModel)]="item['isChecked']"
                    class="al-checkfield form-check-input" (click)="doFilter('PropertyType',$event,item);">
                <label class="form-check-label" [for]="item['label']">{{item['ShowValue']}}</label>
            </div>
        </div>
    </div>
    }

    <!-- <div class="filter-card">
        <div class="filter-card-header">
            <span>Location</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('Location')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-LocationType"></i>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control filter-search-input" placeholder="Search Hotel Location"
                (input)="search($event,'LocationType')">
        </div>

        <div class="collapse show" id="filter-LocationType">
            <div class="form-check" *ngFor="let item of LocationType; let i=index;">
                <label class="form-check-label" [for]="item['label']">{{item['label']}}</label>
                <input type="checkbox" [id]="item['label']" value="{{item['label']}}" [(ngModel)]="item['isChecked']"
                    class="al-checkfield form-check-input" (click)="doFilter('HotelLocation',$event,item);">
            </div>
        </div>
    </div> -->
</div>

