<div class="flight-rowmain" *ngFor="let adt of arrayOne(9); let a=index">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="loading_animation h160"></div>
                </div>
                <div class="col-md-6">
                    <div class="hotel-box-body text-left">
                        <h5 class="hotel-title loading_animation h30"></h5>
                        <p class="mb-2"></p>
                        <p class="mb-2 loading_animation h30"></p>
                        <p class="mb-5"></p>
                        <p class="mb-2 loading_animation h30"></p>
                    </div>
                </div>
                <div class="col-md-3 text-end">
                    <p class="mb-3 h30"></p>
                    <div class="loading_animation h30"></div>
                </div>
            </div>
        </div>
    </div>
</div>
