<section class="terms-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="terms-content" >
                       <!-- <div class="mb-5">
                            <h4 class="terms-content-heading text-center fw-semibold">Terms and Conditions</h4>
                       </div> -->
                       <div class="mb-4">
                            <h6 class="terms-content-heading fw-semibold">Visa </h6>
                            <p>Effortless visa solutions for global travellers. </p>
                       </div>
                       <div>
                            <div class="page-content mx-4">
                                <ul>
                                    <li>
                                        <p><span class="fs-16 fw-bold">USA (United State of America) - </span> We assist with all documentation and coordinate your U.S. Embassy appointment for a smooth, efficient process.
                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">UK (United Kingdom) - </span> We handle your entire visa application, from documentation to scheduling VFS appointments for a seamless experience.

                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">Schengen (Europe) -</span> We assist you in securing visa appointments for all European countries and arrange your VFS appointment to streamline the process.


                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">UAE (Dubai) - </span>Obtain your Dubai visa with our competitive B2B rates and diverse options for a smooth process.


                                        </p>
                                    </li>
                                    <li>
                                        <p><span class="fs-16 fw-bold">Saudi Visa (Umrah Visa) -</span>Set out confidently with our Saudi visa services, simplifying your application for a smooth spiritual journey.

                                        </p>
                                    </li>
                                </ul>
                            </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</section>