
.top-tabs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.top-tabs .btn {
    border-radius: 30px;
    padding: 7px 15px;
    font-size: 14px;
    border: 1px solid #bfbfbf;
    background: #fff;
    color: #333;
}

.top-tabs .btn.active-tab {
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
}