.search-form-inp-down{
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
}
.witdh-36{
    width: 36% !important;
}
.witdh-20{
    width: 20% !important;
}

.flight_section .flight_box .tab-content .persent-one .at-exchange::after {
    left: 415px!important;
}
.ps-18{
    padding-left: 18px !important;
}

.flight_section .flight_box .tab-content .persent-one.less-btn{
    width: 10% !important;
}

@media only screen and (max-width: 600px){
    .flight_section .flight_box .tab-content .persent-one.less-btn{
        width: 100% !important;
    }
}