
@if(loading===false && Response['Title']!=='Connect us'){

<section class="breadcrum__text-page">
    <div class="container">
        <div class="breadcrum__text">
            <a routerLink="/" class="breadcrum__text--link">
                <i class="fa fa-home"></i> Home
            </a>
            <i class="fa fa-angle-double-right mx-2"></i>
            <span>{{Response['Title']}}</span>
        </div>
    </div>
</section>

}

<section class="page-content">
    <div class="container">
        @if(loading===false){
        <div [innerHTML]="Response['Content']|safeHtml"></div>
        }

        @if(loading){    
            <div class="row">
                <div class="col-sm-12 text-center min-h400">
                    <div class="flight-segmentcolor text-center mb-4 mt-5 pt-5">
                        <div class="lds-ellipsis">
                            <div></div><div></div><div></div><div></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@if(Response['Title']!=='Connect Us'){
<footer class="main-footer">
   <div class="container">
      <div class="footer-wrapper">
         
         <div class="footer-left">
            <span>
               {{GetWebSiteData?.['CopyRight']}}
            </span>

            <a href="javascript:void(0);" routerLink="/pages/contact-us" target="blank">
               Contact Us
            </a>

            <a href="javascript:void(0);"  routerLink="pages/page/web-check-in" target="blank">
               Web Check-in
            </a>

            <a href="javascript:void(0);"  routerLink="pages/page/privacy-policy" target="blank">
               Privacy Policy
            </a>

            <a href="javascript:void(0);"  routerLink="pages/page/Cancellation" target="blank">
               Refund & Cancellation Policy
            </a>

            <a href="javascript:void(0);"  routerLink="pages/page/term-condition" target="blank">
               Terms & Conditions
            </a>
         </div>

   
         <div class="footer-social">
            <a href="javascript:void(0);" class="social-icon">
               <i class="fab fa-facebook-f"></i>
            </a>

            <a href="javascript:void(0);" class="social-icon">
               <i class="fab fa-instagram"></i>
            </a>

            <a href="javascript:void(0);" class="social-icon">
               <i class="fab fa-x-twitter"></i>
            </a>
         </div>
      </div>
   </div>
</footer>
}