<!------modify-----section---start---->
<section class="flight_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="BusSearchForm" (ngSubmit)="SearchData()" id="bus-form">
                    <div class="flight-tab d-lg-flex">
                        <div class="d-flex form-info">
                            <div class="persent-one">
                                <label class="custom-label">Origin</label>
                                <span>
                                    <i class="fas fa-map-marker"></i>
                                </span>
                                <input type="text" formControlName="Origin" class="textboxstyle busautosuggeest"
                                    placeholder="Enter Source" (click)="openautocomplete($event,'input')">
                                <i class="fa fa-angle-down search-form-inp-down" *ngIf="f['Origin'].value==''"></i>
                                <i class="fa fa-times search-form-inp-down" (click)="Cleardata('Origin')"
                                    *ngIf="f['Origin'].value!=''"></i>
                                <div class="at-exchange" (click)="swapecity()"></div>
                                <div *ngIf="submitted && f['Origin'].errors" class="error-msg">
                                    <div *ngIf="f['Origin'].errors['required']">Please enter a valid Source
                                    </div>
                                </div>
                            </div>
                            <div class="persent-one">
                                <label class="custom-label">Destination</label>
                                <span>
                                    <i class="fas fa-map-marker"></i>
                                </span>
                                <input type="text" formControlName="Destination" class="textboxstyle busautosuggeest"
                                    placeholder="Enter Destination" (click)="openautocomplete($event,'input')">
                                <i class="fa fa-angle-down search-form-inp-down" *ngIf="f['Destination'].value==''"></i>
                                <i class="fa fa-times search-form-inp-down" (click)="Cleardata('Destination')"
                                    *ngIf="f['Destination'].value!=''"></i>
                                <div *ngIf="submitted && f['Destination'].errors" class="error-msg">
                                    <div *ngIf="f['Destination'].errors['required']">Please enter a valid
                                        Destination
                                    </div>
                                    <div *ngIf="f['Destination'].errors['notmatching']">Source and Destination
                                        cannot be same</div>
                                </div>
                            </div>
                            <div class="persent-one">
                                <label class="custom-label">Destination</label>
                                <span>
                                    <i class="fas fa-calendar"></i>
                                </span>
                                <input type="text" appDatepicker #datepicker="datepicker"
                                    class="textboxstyle cal-depart-date w-100" formControlName="DepartDate"
                                    (dateEventEmitter)="dateEventEmitter($event)" placeholder="Depart Date" minDate="0"
                                    maxDate="+1Y" calType="O" readonly>
                                <div *ngIf="submitted && f['DepartDate'].errors" class="error-msg">
                                    <div *ngIf="f['DepartDate'].errors['required']">Please enter a valid departure
                                        date</div>
                                </div>
                            </div>

                        </div>
                        <div class="less-btn">
                            <button type="submit" class="cst-btn" [disabled]="Busloading"> <span *ngIf="Busloading"
                                    class="spinner-border spinner-border-sm mr-1"></span>
                                 <i class="fa-solid fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!------modify-----section----end----->