<section class="signup-section">
  <!-- FLOATING SHAPES -->
  <div class="shape shape-1"></div>
  <div class="shape shape-2"></div>
  <div class="shape shape-3"></div>

  <div class="container position-relative">

    <!-- HEADER -->
    <div class="signup-header text-center">
      <div class="signup-badge">
        <i class="customiocns fa-solid fa-earth-asia"></i>
        Travel Partner Registration
      </div>
      <h1> Join The Future Of <span>Travel Business</span> </h1>
      <p>Create your professional travel agent account and unlock flights, hotels, visa services, holiday packages &
        global travel solutions.</p>
    </div>

    <div class="signup-card" *ngIf="Sinupdone==false">
      <div class="signup-top">
        <div class="signup-icon">
          <i class="customiocns fa-solid fa-user-plus"></i>
        </div>

        <div>

          <h2>Create Agent Account</h2>
          <p>
            Fill all required information carefully to continue your registration process.
          </p>
        </div>
        <a routerLink="/" class="ms-auto">Back</a>
      </div>

      <form [formGroup]="SinupForm" (ngSubmit)="SignupSubmit()">
        <!-- ========================================= -->
        <!-- ACCOUNT INFORMATION -->
        <!-- ========================================= -->

        <div class="form-section">
          <div class="section-title">
            <h4> <i class="customiocns fa-solid fa-id-card"></i>Account Information</h4>
          </div>
          <div class="row g-4">
            <!-- AGENCY NAME -->
            <div class="col-lg-3 col-md-6">
              <div class="input-box">
                <label>Agency Name</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-regular fa-building"></i>
                  <input type="text" placeholder="Enter Agency Name" class="form-control custom-input"
                    formControlName="AgencyName" />
                </div>

                <div *ngIf="Sinupsubmitted && f['AgencyName'].errors" class="error-msg">
                  <div *ngIf="f['AgencyName'].errors['required']">Please enter Agency Name.
                  </div>
                </div>
              </div>
            </div>

            <!-- PHONE -->
            <div class="col-md-3 mb-3">
              <div class="input-box">
                <label>Phone Number</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-solid fa-phone"></i>
                  <input type="tel" class="form-control custom-input" placeholder="Phone Number (Optional)"
                    formControlName="PhoneNumber" (keypress)="numberOnly($event)" maxlength="15" />
                </div>
                <div *ngIf="Sinupsubmitted && f['PhoneNumber'].errors" class="error-msg">
                  <div
                    *ngIf="f['PhoneNumber'].errors['pattern'] || f['PhoneNumber'].errors['minlength'] || f['PhoneNumber'].errors['maxlength']">
                    Please enter a valid Phone Number.</div>
                </div>
              </div>
            </div>

            <!-- COUNTRY CODE -->
            <div class="col-lg-2 col-md-6">
              <div class="input-box">
                <label>Dial Code</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-solid fa-globe"></i>
                  <select class="form-select custom-input" formControlName="DialCode" (change)="DialChange($event)">
                    <option value="91">India</option>
                    @for (count of DialCode; track $index) {
                    <option [value]="count['phonecode']">{{count['name']}} ({{count['phonecode']}})</option>
                    }
                  </select>
                </div>
                <div *ngIf="Sinupsubmitted && f['DialCode'].errors" class="error-msg">
                  <div *ngIf="f['DialCode'].errors['required']">Please select dial code.</div>
                </div>
              </div>
            </div>

            <!-- MOBILE -->
            <div class="col-lg-4 col-md-6">
              <div class="input-box">
                <label>Mobile Number
                  <span class="required">*</span>
                </label>

                <div class="input-wrapper">
                  <i class="customiocns fa-solid fa-mobile-screen"></i>
                  <input type="tel" class="form-control custom-input" placeholder="Mobile Number"
                    formControlName="MobileNumber" (keypress)="numberOnly($event)" (input)="checkvalue($event,'mobile')"
                    maxlength="15" autocomplete="off" />
                </div>

                <div *ngIf="Sinupsubmitted && f['MobileNumber'].errors" class="error-msg">
                  <div *ngIf="f['MobileNumber'].errors['required']">Please enter Mobile Number.</div>
                  <div
                    *ngIf="f['MobileNumber'].errors['pattern'] || f['MobileNumber'].errors['minlength'] || f['MobileNumber'].errors['maxlength']">
                    Please enter a valid Mobile Number.</div>
                </div>

                <div *ngIf="Sinupsubmitted==false && submitmobile && f['MobileNumber'].errors" class="error-msg">
                  <div *ngIf="f['MobileNumber'].errors['required']">Please enter Mobile Number.</div>
                  <div
                    *ngIf="f['MobileNumber'].errors['pattern'] || f['MobileNumber'].errors['minlength'] || f['MobileNumber'].errors['maxlength']">
                    Please enter a valid Mobile Number.</div>
                </div>

                <div
                  *ngIf="Sinupsubmitted && submitmobile==false && f['MobileNumber'].errors==null && f['MobileNumberVerify']?.value=='false'"
                  class="error-msg">
                  Please Verify Mobile Number.
                </div>

                <div *ngIf="mobileOTPEnable==true" class="form-text" id="phone_successMsg">An OTP will be sent on your
                  above entered number for verification</div>
              </div>
            </div>

            <!-- OTP FIELD -->
            <div class="col-lg-4 col-md-6" *ngIf="isshowmobileotp">
              <div class="input-box">
                <label>Enter OTP</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-solid fa-key"></i>
                  <input type="password" class="form-control custom-input otp-input" placeholder="● ● ● ●"
                    autocomplete="off" formControlName="MobileOTP" (keypress)="numberOnly($event)" />
                </div>
                <!-- TIMER -->
                <div class="counter d-flex justify-content-between align-items-center">
                  <span>
                    <i class="customiocns fa-regular fa-clock me-1"></i>
                    {{mobiletimer}}
                  </span>
                  <a href="javascript:void(0);" *ngIf="activeResend===true" (click)="ResendOTP('mobile')">Resend OTP</a>
                </div>

                <!-- OTP ERROR -->
                <div *ngIf="verifysubmitmobile && f['MobileOTP'].errors" class="error-msg">
                  <div *ngIf="f['MobileOTP'].errors['required']">Please enter OTP.</div>
                  <div
                    *ngIf="f['MobileOTP'].errors['pattern'] || f['MobileOTP'].errors['minlength'] || f['MobileOTP'].errors['maxlength']">
                    Please enter valid OTP.
                  </div>
                </div>

                <div id="mobile-otp-error"></div>
              </div>
            </div>

            <!-- OTP BUTTON -->
            <div class="col-lg-4 col-md-6" *ngIf="mobileOTPEnable==true && mobileverifydone==false">
              <!-- SEND OTP -->
              <button *ngIf="isshowmobileotp===false" class="btn_otp" type="button"
                (click)="sendotp('mobile','phone_successMsg')">
                <i class="customiocns fa-solid fa-paper-plane me-2"></i>
                Send OTP
              </button>

              <!-- VERIFY OTP -->
              <button *ngIf="isshowmobileotp" class="btn_otp verify-btn" type="button"
                (click)="VerifyOTP('mobile','phone_successMsg')">
                <i class="customiocns fa-solid fa-circle-check me-2"></i>
                Verify OTP
              </button>
            </div>

            <!-- VERIFIED -->
            <div class="col-lg-4 col-md-6" *ngIf="mobileverifydone">
              <a href="javascript:void(0);" (click)="edit('mobile','phone_successMsg')" class="verify-edit-btn">
                <i class="customiocns fa-solid fa-pen-to-square"></i>
                Edit Number
              </a>
            </div>
          </div>
        </div>


        <!-- ========================================= -->
        <!-- SECURITY -->
        <!-- ========================================= -->
        <div class="form-section">
          <div class="section-title">
            <h4>
              <i class="customiocns fa-solid fa-shield-halved"></i>
              Security Details
            </h4>
          </div>

          <div class="row g-4">
            <!-- PASSWORD -->
            <div class="col-lg-3 col-md-6">
              <div class="input-box">
                <label>Password</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-solid fa-lock"></i>
                  <input [type]="isPassVisible ==true  ? 'text' : 'password'" class="form-control custom-input"
                    placeholder="Password" formControlName="Password" autocomplete="off" />

                  <span class="toggle-password" (click)="showPassword('pwa')">
                    <i class="fa" [ngClass]="isPassVisible ==true  ? 'fa-eye' : 'fa-eye-slash'" id="eyeIcon"></i>
                  </span>
                </div>
                <div *ngIf="Sinupsubmitted && f['Password'].errors" class="error-msg">
                  <div *ngIf="f['Password'].errors['required']">Please enter Password.</div>
                  <div *ngIf="f['Password'].errors['minlength']">Password must be at least 8 characters.</div>
                  <div *ngIf="f['Password'].errors['maxlength']">Password can't be more than 16 characters.</div>
                  <div *ngIf="f['Password'].errors['pattern']">Please enter a valid Password.</div>
                </div>
                <small class="helper-text">Minimum 8 characters with uppercase, number & special character.
                </small>
              </div>
            </div>

            <!-- CONFIRM -->
            <div class="col-lg-3 col-md-6">
              <div class="input-box">
                <label>Confirm Password</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-solid fa-key"></i>
                  <input [type]="isConPassVisible ==true  ? 'text' : 'password'" class="form-control custom-input"
                    placeholder="Confirm password" formControlName="ConfirmPassword" autocomplete="off" />
                  <span class="toggle-password" (click)="showPassword('cpwa')">
                    <i class="fa" [ngClass]="isConPassVisible ==true  ? 'fa-eye' : 'fa-eye-slash'" id="eyeIcon"></i>
                  </span>
                </div>
                <div *ngIf="Sinupsubmitted && f['ConfirmPassword'].errors" class="error-msg">
                  <div *ngIf="f['ConfirmPassword'].errors['required']">Please enter Confirm Password.</div>
                  <div *ngIf="f['ConfirmPassword'].errors['matching']">Passwords must match</div>
                </div>
              </div>
            </div>

            <!-- EMAIL -->
            <div class="col-lg-3 col-md-12">
              <div class="input-box">
                <label>Email Address</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-regular fa-envelope"></i>
                  <input type="email" class="form-control custom-input" placeholder="Email Address"
                    formControlName="EmailID" (input)="checkvalue($event,'email')" />
                </div>

                <div *ngIf="Sinupsubmitted && f['EmailID'].errors" class="error-msg">
                  <div *ngIf="f['EmailID'].errors['required']">Please enter Email ID.</div>
                  <div *ngIf="f['EmailID'].errors['email']">Please enter valid Email ID.</div>
                </div>

                <div *ngIf="Sinupsubmitted==false && submitemail && f['EmailID'].errors" class="error-msg">
                  <div *ngIf="f['EmailID'].errors['required']">Please enter Email ID.</div>
                  <div *ngIf="f['EmailID'].errors['email']">Please enter valid Email ID.</div>
                </div>

                <div
                  *ngIf="Sinupsubmitted && submitemail==false && f['EmailID'].errors==null && f['EmailVerify']?.value=='false'"
                  class="error-msg">
                  Please Verify Email ID.
                </div>
                <div class="form-text" id="email_successMsg">An OTP will be sent on your above entered email for
                  verification</div>
              </div>
            </div>

            <!-- EMAIL Top-->
            <div class="col-lg-3 col-md-12" *ngIf="isshowemailotp">
              <div class="input-box">
                <label>Email OTP</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-regular fa-envelope"></i>
                  <input type="password" class="form-control custom-input" placeholder="OTP" autocomplete="off"
                    formControlName="EmailOTP" (keypress)="numberOnly($event)" />
                </div>

                <div class="counter clearfix">
                  <span>{{emailtimertxt}}</span>
                  <a href="javascript:void(0);" *ngIf="activeEmailResend===true" (click)="ResendOTP('email')">Resend
                    OTP</a>
                </div>

                <div *ngIf="verifysubmitemail && f['EmailOTP'].errors" class="error-msg">
                  <div *ngIf="f['EmailOTP'].errors['required']">Please enter OTP.</div>
                  <div
                    *ngIf="f['EmailOTP'].errors['pattern'] || f['EmailOTP'].errors['minlength'] || f['EmailOTP'].errors['maxlength']">
                    Please enter a valid OTP.</div>
                </div>

                <div id="email-otp-error"></div>
              </div>
            </div>

            <!-- OTP BUTTON -->
            <div class="col-lg-3 col-md-6" *ngIf=" emailverifydone==false">
              <!-- SEND OTP -->
              <button *ngIf="isshowemailotp===false" class="btn_otp" type="button"
                (click)="sendotp('email','email_successMsg')">
                <i class="customiocns fa-solid fa-paper-plane me-2"></i>
                Send OTP
              </button>

              <!-- VERIFY OTP -->
              <button *ngIf="isshowemailotp" class="btn_otp verify-btn" type="button"
                (click)="VerifyOTP('email','email_successMsg')">
                <i class="customiocns fa-solid fa-circle-check me-2"></i>
                Verify OTP
              </button>
            </div>

            <!-- VERIFIED -->
            <div class="col-lg-2 col-md-6" *ngIf="emailverifydone">
              <a href="javascript:void(0);" (click)="edit('email','email_successMsg')" class="verify-edit-btn">
                <i class="customiocns fa-solid fa-pen-to-square"></i>
                Edit Email
              </a>
            </div>
          </div>
        </div>

        <!-- ========================================= -->
        <!-- COMPANY INFO -->
        <!-- ========================================= -->
        <div class="form-section">
          <div class="section-title">
            <h4>
              <i class="fa-solid fa-briefcase"></i>
              Company Information
            </h4>
          </div>

          <div class="row g-4">
            <div class="col-lg-6">
              <div class="input-box">
                <label>Name On PAN Card</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-regular fa-user"></i>
                  <input type="text" placeholder="Enter PAN Name" class="form-control custom-input"
                    formControlName="PANName" />
                </div>
                <div *ngIf="Sinupsubmitted && f['PANName'].errors" class="error-msg">
                  <div *ngIf="f['PANName'].errors['required']">Please enter PAN Name.</div>
                </div>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="input-box">
                <label>PAN Number</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-regular fa-id-card"></i>
                  <input type="text" class="form-control custom-input" oninput="this.value = this.value.toUpperCase()"
                    placeholder="PAN NUMBER" formControlName="PANNumber" maxlength="10" />
                </div>
                <div *ngIf="Sinupsubmitted && f['PANNumber'].errors" class="error-msg">
                  <div *ngIf="f['PANNumber'].errors['required']">Please enter PAN Number.</div>
                  <div *ngIf="f['PANNumber'].errors['pattern']">Please enter a valid PAN Number.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ========================================= -->
        <!-- Personal In charge(optional) -->
        <!-- ========================================= -->
        <div class="form-section">
          <div class="section-title">
            <h4>
              <i class="fa-solid fa-location-dot"></i>
              Personal In charge (optional)
            </h4>
          </div>
          <div class="row g-4 align-items-end">
            <div class="col-md-4">
              <div class="input-box">
                <label>Full Name</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-regular fa-user"></i>
                  <input type="text" class="form-control custom-input" placeholder="Full Name"
                    formControlName="PersonName" />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-box">
                <label>Email Address</label>
                <div class="input-wrapper">
                  <i class="customiocns fa-regular fa-envelope"></i>
                  <input type="email" class="form-control custom-input" placeholder="Email Address"
                    formControlName="PersonEmail" />
                </div>
                <div *ngIf="Sinupsubmitted && f['PersonEmail'].errors" class="error-msg">
                  <div *ngIf="f['PersonEmail'].errors['email']">Please enter a valid Email ID.</div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input-box">
                <label>Mobile Number</label>
                <div class="input-wrapper">
                  <i class="customiocns fal fa-phone"></i>
                  <input type="tel" class="form-control custom-input" placeholder="Mobile Number"
                    formControlName="PersonMobileNumber" (keypress)="numberOnly($event)" maxlength="15" />
                </div>
                <div *ngIf="Sinupsubmitted && f['PersonMobileNumber'].errors" class="error-msg">
                  <div *ngIf="f['PersonMobileNumber'].errors['pattern'] || f['PersonMobileNumber'].errors['maxlength']">
                    Please enter a valid Mobile Number.</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ========================================= -->
        <!-- GST Information(optional) -->
        <!-- ========================================= -->
        <div class="form-section">
          <div class="section-title">
            <h4>
              <i class="fa-solid fa-file-invoice"></i>
              GST Information <span class="optional-text">(Optional)</span>
            </h4>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-md-6">
              <div class="input-box">
                <label>GST Name</label>
                <div class="input-wrapper">
                  <i class="fa-regular fa-building customiocns"></i>
                  <input type="text" class="form-control custom-input" placeholder="GST Name"
                    formControlName="GSTName" />
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="input-box">
                <label>GST Email</label>
                <div class="input-wrapper">
                  <i class="fa-regular fa-envelope customiocns"></i>
                  <input type="email" class="form-control custom-input" placeholder="GST Email"
                    formControlName="GSTEmail" />
                </div>
                <div *ngIf="Sinupsubmitted && f['GSTEmail'].errors" class="error-msg">
                  <div *ngIf="f['GSTEmail'].errors['email']">Please enter a valid Email ID.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="input-box">
                <label>GST Number</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-receipt customiocns"></i>
                  <input type="text" class="form-control custom-input" placeholder="GST Number"
                    formControlName="GSTNumber" maxlength="15">
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="input-box">
                <label>GST Mobile Number</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-mobile-screen-button customiocns"></i>
                  <input type="tel" class="form-control custom-input" placeholder="GST Mobile Number"
                    formControlName="GSTMobileNumber" (keypress)="numberOnly($event)" maxlength="15" />
                </div>
                <div *ngIf="Sinupsubmitted && f['GSTMobileNumber'].errors" class="error-msg">
                  <div *ngIf="f['GSTMobileNumber'].errors['pattern'] || f['GSTMobileNumber'].errors['maxlength']">Please
                    enter a valid Mobile Number.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-8 col-md-12">
              <div class="input-box">
                <label>GST Address</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-location-dot customiocns"></i>
                  <input type="text" class="form-control custom-input" placeholder="GST Address"
                    formControlName="GSTAddress" />
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- ========================================= -->
        <!-- ADDRESS -->
        <!-- ========================================= -->
        <div class="form-section">
          <div class="section-title">
            <h4>
              <i class="fa-solid fa-location-dot"></i>
              Address Information
            </h4>
          </div>
          <div class="row g-4">
            <div class="col-lg-8">
              <div class="input-box">
                <label>Street Address</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-map-location-dot customiocns"></i>
                  <input type="street" class="form-control custom-input" placeholder="Complete Street Address"
                    formControlName="Street" />
                </div>
                <div *ngIf="Sinupsubmitted && f['Street'].errors" class="error-msg">
                  <div *ngIf="f['Street'].errors['required']">Please enter Street.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="input-box">
                <label>Pin Code</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-location-crosshairs customiocns"></i>
                  <input type="zip" class="form-control custom-input" placeholder="Pin Code" formControlName="Pincode"
                    maxlength="6" (keypress)="numberOnly($event)" />
                </div>

                <div *ngIf="Sinupsubmitted && f['Pincode'].errors" class="error-msg">
                  <div *ngIf="f['Pincode'].errors['required']">Please enter Pincode.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="input-box">
                <label>Select Country</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-map-location-dot customiocns"></i>
                  <select class="form-select custom-input" country (change)="getstate($event)"
                    formControlName="Country">
                    <option value="India">India</option>
                    @for (count of countrylist; track $index) {
                    <option [value]="count['name']">{{count['name']}}</option>
                    }
                  </select>
                </div>
                <div *ngIf="Sinupsubmitted && f['Country'].errors" class="error-msg">
                  <div *ngIf="f['Country'].errors['required']">Please select Country.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="input-box">
                <label>Select State</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-map-location-dot customiocns"></i>
                  <select class="form-select custom-input" formControlName="State" (change)="getcity($event)">
                    <option value="">_ _Select State_ _</option>
                    <option *ngFor="let item of statelist" value="{{item['name']}}">{{item['name']}}</option>
                  </select>
                </div>
                <div *ngIf="Sinupsubmitted && f['State'].errors" class="error-msg">
                  <div *ngIf="f['State'].errors['required']">Please select State.</div>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="input-box">
                <label>Select City</label>
                <div class="input-wrapper">
                  <i class="fa-solid fa-map-location-dot customiocns"></i>
                  <select class="form-select custom-input" formControlName="City">
                    <option value="">_ _Select City _ _</option>
                    <option *ngFor="let item of citylist" value="{{item['name']}}">{{item['name']}}</option>
                  </select>
                </div>
                <div *ngIf="Sinupsubmitted && f['City'].errors" class="error-msg">
                  <div *ngIf="f['City'].errors['required']">Please select City.</div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- ========================================= -->
        <!-- TERMS -->
        <!-- ========================================= -->
        <div class="form-bottom">
          <div class="form-check custom-check">
            <input type="checkbox" class="form-check-input" id="tems" formControlName="Agree" />
            <label class="form-check-label" for="tems">
              I accept the
              <a routerLink="/pages/terms-and-conditions">
                Terms & Conditions
              </a>
            </label>
            <div *ngIf="Sinupsubmitted && f['Agree'].errors" class="error-msg">
              <div *ngIf="f['Agree'].errors['required']">Please accept terms & conditions.</div>
            </div>
          </div>

          <button type="submit" class="btn-register" [disabled]="Sinuploading">
            <span *ngIf="Sinuploading" class="spinner-border spinner-border-sm me-2"></span>
            Create Account
          </button>
          <div *ngIf="ErrorSinupMessage" [innerHtml]="ErrorSinupMessage"></div>
        </div>
      </form>
    </div>

    <div class="alert alert-success mb-0" role="alert" *ngIf="Sinupdone">
      {{SinupMessage}} <a routerLink="/" class="text-dark"> Click here </a> to login
    </div>

  </div>
</section>