<div class="login-page">
   <!-- <div class="login-menu">
      <div class="container ">
         <nav class="navbar navbar-expand-lg d-flex align-items-center justify-content-between">
            <a class="navbar-brand" routerLink="/"><img src="{{GetWebSiteData['Logo']}}"
               class="img-fluid logo__img" /></a>

            <div class="collapse navbar-collapse" id="navbarNav">
               <div class="collapse-header">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa-solid fa-xmark"></i>
                  </button>
               </div>
               <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                 <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
                  <li class="nav-item"><a routerLink="/pages/contact-us" class="nav-link"> Contact</a></li>
               </ul>
            </div>
            <div class="Rightbtn">
               <a routerLink="/register" class="btn btn-primary border-width-2">
               <span class="me-2 fa-solid fa-user"></span> Register Now <span class="d-lg-inline d-none">For new Agent</span>
               </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
            </button>
         </nav>
      </div>
   </div> -->
   <router-outlet></router-outlet>
   <!-- <footer class="login-footer">
      <div class="container">
         <div class="row">
             @for (link of FooterMenu; track $index) {
            <div class="col-md-6 col-lg-3 mb-3 mb-md-0">
               <div class="widget">
                  <h3 class="widget-heading">{{link['MenuName']}}</h3>
                  <ul class="list-unstyled">
                      @for (item of link['Pages']; track $index) {
                                <li>
                                    @if(item.CustomUrl){
                                        <a href="{{item.CustomUrl}}" target="_blank">{{item.Title}}</a>

                                    }@else {
                                        <a routerLink="/pages/page/{{item.SlugUrl}}">{{item.Title}}</a>

                                    }  
                                </li>
                                }
                    
                  </ul>
               </div>
            </div>
         }
            
            
            <div class="col-md-6 col-lg-3">
               <div class="widget">
                  <h3 class="widget-heading">Contact Us</h3>
                  <ul class="list-unstyled">
                     <li class="d-flex">
                       <span class="me-2 d-flex align-items-center"><i class="fa-solid fa-location-dot me-1"></i>:</span>
                        <a href="javascript:void(0)">{{GetWebSiteData['Street']}} {{GetWebSiteData['City']}} {{GetWebSiteData['State']}} {{GetWebSiteData['Country']}}</a>
                     </li>
                     <li>
                          <span class="me-2"><i class="fa-solid fa-phone  me-1"></i>:</span>
                          <a href="tel:{{GetWebSiteData['SupportNo']}}">{{GetWebSiteData['SupportNo']}}</a>
                     </li>
                     <li>
                       <span class="me-2"><i class="fa-solid fa-envelope me-1"></i>:</span>
                       <a href="mailto:support@travelimpression.in">{{GetWebSiteData['SupportEmail']}}</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between mb-3 gap-2">
            <ul class="list-unstyled social-icons">
               <li><a href="javascript:void(0)" class="facebook"><img src="assets/img/paymentgetway/mc.jpg" alt=""></a></li>
               <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/paymentgetway/rp.jpg" alt=""></a></li>
               <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/paymentgetway/visa.jpg" alt=""></a></li>
               <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/paymentgetway/upi.jpg" alt=""></a></li>
               <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/paymentgetway/nb.jpg" alt=""></a></li>
            </ul>
            <p class="rights__content">{{GetWebSiteData['CopyRight']}}</p>
            <ul class="list-unstyled social-icons ">
              <li><a href="javascript:void(0)" class="facebook"><img src="assets/img/travelpartner/atoi.jpg" alt=""></a></li>
              <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/travelpartner/iata.jpg" alt=""></a></li>
              <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/travelpartner/j&k.jpg" alt=""></a></li>
              <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/travelpartner/taai.jpg" alt=""></a></li>
              <li><a href="javascript:void(0)" class="instagram"><img src="assets/img/travelpartner/tafi.jpg" alt=""></a></li>
           </ul>
         </div>
      </div>
   </footer> -->
   <div id="data-message" class="message"></div>
</div>