<div class="login-page">
   <header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light main-navbar">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo-link" routerLink="/">
                <img [src]="GetWebSiteData?.Logo" alt="TravelTrip Logo" class="logo-img img-fluid" />
            </a>

            <!-- MOBILE TOGGLE -->
            <button class="navbar-toggler mobile-toggle" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- RIGHT SIDE -->
            <div class="collapse navbar-collapse" id="mainMenu">
                <div class="header-actions">
                    <!-- SUPPORT INFO -->
                    <div class="support-info">
                        <i class="fa-solid fa-headset"></i>
                        <div>
                            <p>24/7 Support</p>
                            <h5 class="support-number">{{GetWebSiteData['SupportNo']}}</h5>
                        </div>
                    </div>

                    <!-- AUTH BUTTONS -->
                    <a class="login-btn" routerLink="/login">Login</a>
                    <a class="register-btn" routerLink="/register">Register</a>
                </div>
            </div>
        </div>
    </nav>
</header>

   <router-outlet></router-outlet>
  <footer class="site-footer">

    <!-- TOP AREA -->
    <div class="footer-top">

        <div class="container">

            <div class="row g-5">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                         <!-- <img [src]="GetWebSiteData['Logo']" class="footer-logo" [alt]="GetWebSiteData['CompanyName']"> -->
                        <a href="javascript:void(0)" >
                           
                            <div class="footer-logo-text">
                                <h4>
                                    {{GetWebSiteData['CompanyName']}}
                                </h4>
                                <span>
                                    Flights , Hotel & Bus 
                                </span>
                            </div>
                        </a>
                        <p class="footer-about">
                           {{GetWebSiteData?.['CompanyDescription']}}
                        </p>

                        <div class="footer-social">

                            <a href="https://www.facebook.com/TravelTripPlusHolidays/" target="_blank">

                                <i class="fab fa-facebook-f"></i>

                            </a>

                            <a href="javascript:void(0)">

                                <i class="fab fa-twitter"></i>

                            </a>

                            <a href="https://www.instagram.com/traveltripplus24" target="_blank">

                                <i class="fab fa-instagram"></i>

                            </a>

                            <a href="javascript:void(0)">

                                <i class="fab fa-linkedin-in"></i>

                            </a>

                        </div>

                    </div>

                </div>
                @for (item of FooterData; track $index) {
                <div class="col-lg-2 col-md-6">

                    <div class="footer-widget">
                        <h5 class="footer-title">
                            {{item['MenuName']}}
                        </h5>
                        <ul class="footer-links">
                            @for (page of item['Pages']; track $index) {
                                @if(page['Title']=='Connect Us'){
                                    <li>
                                        <a href="javascript:void(0)" routerLink="/pages/contact-us" target="_blank">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Contact us
                                        </a>
                                        
                                    </li>
                                }@else {
                                    <li>
                                        @if(page['CustomUrl']){
                                            <a [href]="page['CustomUrl']" target="_blank">
                                                <i class="fa-solid fa-angle-right"></i>
                                            {{ page['Title']}}
                                            </a>
                                        }@else {
                                            <a href="javascript:void(0)" routerLink="/pages/page/{{page['SlugUrl']}}">
                                                <i class="fa-solid fa-angle-right"></i>
                                                {{ page['Title']}}
                                            </a>
                                        }
                                        
                                    </li>
                                        }
                            
                            }
                        </ul>

                    </div>

                </div>
                }
               
                

                <!-- =========================================
                CONTACT INFO
                ========================================= -->
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget">

                        <h5 class="footer-title">
                            Contact Info
                        </h5>

                        <ul class="footer-contact">

                            <li>

                                <div class="contact-icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </div>

                                <div class="contact-text">
                                    {{GetWebSiteData['Street']}} {{GetWebSiteData['City']}} {{GetWebSiteData['State']}} {{GetWebSiteData['Country']}}
                                </div>

                            </li>

                            <li>

                                <div class="contact-icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>

                                <div class="contact-text">
                                     {{GetWebSiteData['SupportNo']}}
                                    <br>
                                   
                                </div>

                            </li>

                            <li>

                                <div class="contact-icon">
                                    <i class="fa-solid fa-envelope"></i>
                                </div>

                                <div class="contact-text">
                                   {{GetWebSiteData['SupportEmail']}}
                                </div>

                            </li>

                        </ul>

                        <!-- IATA -->
                        <div class="iata-box">

                            <img src="https://www.traveltripplus.com/images/IATA.jpg" alt="IATA">

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <div class="container">

            <div class="footer-bottom-wrapper">

                <p>
                   {{GetWebSiteData['CopyRight']}}
                </p>

                <div class="footer-bottom-links">

                    <a href="javascript:void(0)" routerLink="/pages/page/term-condition">
                        Terms & Conditions
                    </a>

                    <a href="javascript:void(0)" routerLink="/pages/page/privacy-policy"> 
                        Privacy Policy
                    </a>

                </div>

            </div>

        </div>

    </div>

</footer>
   <div id="data-message" class="message"></div>
</div>