<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light main-navbar">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo-link" routerLink="/">
                <img [src]="GetWebSiteData?.Logo" alt="TravelTrip Logo" class="logo-img img-fluid" />
            </a>

            <!-- MOBILE TOGGLE -->
            <button class="navbar-toggler mobile-toggle" type="button"
                data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- RIGHT SIDE -->
            <div class="collapse navbar-collapse" id="mainMenu">
                <div class="header-actions">
                    <!-- SUPPORT INFO -->
                    <div class="support-info">
                        <i class="fa-solid fa-headset"></i>
                        <div>
                            <p>24/7 Support</p>
                            <h5 class="support-number">+91 8800114161</h5>
                        </div>
                    </div>

                    <!-- AUTH BUTTONS -->
                    <a class="login-btn" routerLink="/login">Login</a>
                    <a class="register-btn" routerLink="/register">Register</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="breadcrum__text-page">
    <div class="container">
        <div class="breadcrum__text">
            <a routerLink="/" class="breadcrum__text--link">
                <i class="fa fa-home"></i> Home
            </a>
            <i class="fa fa-angle-double-right mx-2"></i>
            <span>About Us</span>
        </div>
    </div>
</section>

<section class="about-section">
    <div class="container">
        <div *ngFor="let item of details" class="about-card">
            <!-- Main Title -->
            <h3 class="about-heading-main">{{ item.Title }}</h3>
            <!-- Main Description -->
            <p class="about-text" *ngIf="item.Description">{{ item.Description }}</p>
            <!-- Sub Items -->
            <div *ngIf="item.Subitem?.length">
                <div *ngFor="let sub of item.Subitem" class="sub-box">
                    <h5 class="about-heading">{{ sub.SubTitle }}</h5>
                    <p class="about-text">{{ sub.SubDec }}</p>
                </div>
            </div>
        </div>
    </div>
</section>