<section class="flight-list-section sticky-top p-8 d-none" *ngIf="isModifyShow==false">
  <div class="container">
    <div class="row g-3 align-items-center">
      <div class="col-lg-10">
        <div class="row g-3">
          <div class="col-lg-3">
            <ul class="modify_list">
              <li>
                <h2>Location {{GetSearchData['OriginCode']}} <span
                    class="d-block">{{GetSearchData['Destination']}}</span></h2>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-6">
            <ul class="modify_list">
              <li>
                <h2>Check-in Date<span class="d-block text-white">{{GetSearchData['CheckIn'] | date:'E, d MMM yyyy'
                    }}</span></h2>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-6">
            <ul class="modify_list">
              <li>
                <h2>Check-out Date<span class="d-block text-white">{{GetSearchData['CheckOut'] | date:'E, d MMM yyyy'
                    }}</span></h2>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-12">
            <ul class="modify_list">
              <li>
                <h2>Rooms and Guests<span class="d-block text-white">{{Occupancy}}</span></h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <ul class="modify_list1">
          <li>
            <button type="button" class="btn btn-link modify_btn w-100" (click)="modifysearch()">Modify search
              <i class="fa fa-chevron-down ms-2"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!------modify-----section---start---->
<section class="flight_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="flight_box">
          <form [formGroup]="HotelSearchForm" (ngSubmit)="HotelSearchData()" id="hotel-form">
            <div class="tab-content">
              <div class="tab-pane fade show active" id="flight-tab-pane" role="tabpanel" aria-labelledby="flight-tab"
                tabindex="0">
                <div class="flight-tab d-lg-flex">
                  <div class="d-flex form-info">
                    <div class="persent-one">
                      <label class="custom-label">Destination</label>
                      <span class="srchicons"><i class="fa-solid fa-map-marker"></i></span>
                      <input type="text" formControlName="Destination" class="textboxstyle autosuggeest-hotel"
                        placeholder="Destination ?" (click)="openautocomplete($event,'input')">
                      <i class="fa fa-angle-down search-form-inp-down" *ngIf="fh['Destination'].value==''"></i>
                      <i class="fa fa-times search-form-inp-down" (click)="Cleardata('Destination')"
                        *ngIf="fh['Destination'].value!=''"></i>
                      <div *ngIf="hotelsubmitted && fh['Destination'].errors" class="error-msg">
                        <div *ngIf="fh['Destination'].errors['required']">Please enter a location name
                        </div>
                      </div>
                    </div>

                    <div class="persent-one less-per">
                      <label class="custom-label">Check In</label>
                      <span class="srchicons"><i class="fa-solid fa-calendar"></i></span>
                      <input type="text" formControlName="CheckIn" class="textboxstyle" appDatepicker
                        #datepicker="datepicker" (dateEventEmitter)="dateEventEmitter($event)" minDate="0" maxDate="+1Y"
                        calType="CheckIN">
                      <div *ngIf="hotelsubmitted && fh['CheckIn'].errors" class="error-msg">
                        <div *ngIf="fh['CheckIn'].errors['required']">Please enter a valid check in date</div>
                      </div>
                    </div>

                    <div class="persent-one less-per at-returnin">
                      <label class="custom-label">Check Out</label>
                      <span class="srchicons"><i class="fa-solid fa-calendar"></i></span>
                      <input type="text" formControlName="CheckOut" class="textboxstyle textboxstyle-bg w-100"
                        (dateEventEmitter)="dateEventEmitter($event)" appDatepicker #datepicker="datepicker"
                        minDate="{{fh['CheckIn'].value}}" maxDate="+1Y" calType="CheckOut"
                        [ngClass]="{ 'is-invalid': hotelsubmitted && fh['CheckOut'].errors }">
                      <div *ngIf="hotelsubmitted && fh['CheckOut'].errors" class="error-msg">
                        <div *ngIf="fh['CheckOut'].errors['required']">Please enter a valid check out date</div>
                        <div *ngIf="fh['CheckOut'].errors['noofnight']">Maximum 14 nights for online hotel booking is
                          allowed.</div>
                      </div>
                    </div>

                    <div class="persent-one persent-one_ps-4">
                      <label class="custom-label">Rooms & Guests</label>
                      <span class="srchicons"><i class="fa-solid fa-person"></i></span>
                      <div class="textboxstyle" id="passenger" (click)="HotelPaxDisplay()">
                        <p class="Pass"> {{Occupancy}}</p>
                      </div>

                      <!-----new code start---->
                      <div class="at-passection" [ngClass]="{'d-none': isHotelShow===false}">
                        <div class="hotel-pax-container">
                          <!-- Close -->
                          <button type="button" class="hotel-close-btn" (click)="HotelPaxDisplay()">×</button>


                          <!-- Rooms -->
                          <div class="room-list">

                            <div class="room-card" *ngFor="let roomrow of arrayOne(roomcount), let r = index">

                              <!-- Room Title -->
                              <div class="room-card-header">
                                <h5>Room {{ r + 1 }}</h5>
                              </div>

                              <!-- Adults -->
                              <div class="guest-row">
                                <div class="guest-info">
                                  <span class="guest-title">Adults</span>
                                  <small>12+ Years</small>
                                </div>

                                <div class="counter-wrapper">
                                  <button type="button" class="counter-btn" (click)="hotelminus('a',r)">-</button>
                                  <input class="counter-input" type="number" readonly min="1" value="{{roomobject[r].Adult}}">
                                  <button type="button" class="counter-btn" (click)="hotelplus('a',r)">+</button>
                                </div>
                              </div>

                              <!-- Children -->
                              <div class="guest-row">
                                <div class="guest-info">
                                  <span class="guest-title">Children</span>
                                  <small>1 - 12 Years</small>
                                </div>

                                <div class="counter-wrapper">
                                  <button type="button" class="counter-btn" (click)="hotelminus('c',r)">-</button>
                                  <input class="counter-input" type="number" readonly min="0" value="{{roomobject[r].Child}}">
                                  <button type="button" class="counter-btn" (click)="hotelplus('c',r)">+</button>
                                </div>
                              </div>

                              <!-- Child Ages -->
                              <div class="child-age-section" *ngIf="roomobject[r].Child > 0">

                                <div class="age-field">
                                  <label>Age of Child 1</label>
                                  <select class="form-select age-select" (change)="childage($event,0,r)">
                                    <option *ngFor="let chdage of arrayOne(12); let c = index" [value]="c+1">
                                      {{c+1}}
                                    </option>
                                  </select>
                                </div>

                                <div class="age-field" *ngIf="roomobject[r].Child == 2">
                                  <label>Age of Child 2</label>
                                  <select class="form-select age-select" (change)="childage($event,1,r)">
                                    <option *ngFor="let chdage of arrayOne(12); let c=index" [value]="c+1">
                                      {{c+1}} Years
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>

                          </div>

                          <span class="hotelpaxcount_message"></span>

                          <!-- Actions -->
                          <div class="room-actions">
                            <button type="button" class="btn-remove" (click)="removeroom()" [disabled]="roomcount == 1">Remove Room</button>
                            <button type="button" class="btn-add" (click)="addroom()" [disabled]="roomcount == 4">Add Room</button>
                          </div>
                        </div>
                      </div>
                      <!-----new code end------>
                    </div>
                  </div>

                  <div class="less-btn">
                    <button type="submit" class="cst-btn" [disabled]="Hotelloading"> 
                      <span *ngIf="Hotelloading" class="spinner-border spinner-border-sm"></span> 
                      <i class="fa-solid fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!------modify-----section----end----->