

.content_form {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100vh;
}

.btn-login {
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    font-size: 13px;
    padding: 7px 15px;
    margin-top: 10px;
    background: var(--second-color);
    border-color: var(--second-color);
    transition: 0.3s ease-out;
}
.register-forget-btn {
    width: 45%;
    margin-right: 10px;
    color: #fff;
    border: 0;
    background: var(--second-color);
}