<section class="forgot-password-section">
  <!-- BACKGROUND SHAPES -->
  <div class="bg-circle bg-circle-1"></div>
  <div class="bg-circle bg-circle-2"></div>
  <div class="bg-circle bg-circle-3"></div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10">
        <div class="forgot-card">
          <!-- LOGO / ICON -->
          <div class="forgot-top text-center">
            <div class="forgot-icon"><i class="fa-solid fa-unlock-keyhole"></i></div>
            <h2>Forgot Password?</h2>
            <p> Don’t worry! Enter your registered email or mobile number and we’ll help you recover your account.</p>
          </div>

          <form [formGroup]="ForgotForm" (ngSubmit)="ForgotSubmit()" *ngIf="ForgotNextStep===false">

            <!-- INPUT -->
            <div class="custom-input mb-4">
              <i class="fa-regular fa-envelope"></i>
              <input type="email" placeholder="Email Or Mobile" formControlName="emailphone" autocomplete="off" />
            </div>

            <!-- ERROR -->
            <div *ngIf="Forgotsubmitted && fps['emailphone'].errors" class="error-msg mb-3">
              <div *ngIf="fps['emailphone'].errors['required'] || fps['emailphone'].errors['pattern']">
                Please enter valid Email Id / Mobile Number.
              </div>
            </div>

            <!-- BUTTONS -->
            <div class="row g-3">
              <div class="col-6">
                <a routerLink="/" class="btn-back"><i class="fa-solid fa-arrow-left"></i>Login</a>
              </div>

              <div class="col-6">
                <button class="btn-submit" type="submit" [disabled]="Forgotloading">
                  <span *ngIf="Forgotloading" class="spinner-border spinner-border-sm me-2"></span>
                  Continue
                </button>
              </div>
            </div>

            <!-- MESSAGE -->
            <div class="mt-4" *ngIf="ForgotMessage" [innerHtml]="ForgotMessage"></div>
          </form>

          <form [formGroup]="NewPasswordForm" (ngSubmit)="NewPasswordSubmit()" *ngIf="ForgotNextStep && ISNextStep">
            <!-- OTP -->
            <div class="custom-input mb-3">
              <i class="fa-solid fa-shield-halved"></i>
              <input type="text" formControlName="otp" placeholder="Enter OTP" autocomplete="off">
            </div>

            <div *ngIf="NewPasswordsubmitted && fnps['otp'].errors" class="error-msg mb-3">
              <div *ngIf="fnps['otp'].errors['required'] || fnps['otp'].errors['maxlength']">
                Please enter valid OTP.
              </div>
            </div>

            <!-- PASSWORD -->
            <div class="custom-input mb-3">
              <i class="fa-solid fa-lock"></i>
              <input type="password" formControlName="password" placeholder="Enter New Password" autocomplete="off">
            </div>

            <div *ngIf="NewPasswordsubmitted && fnps['password'].errors" class="error-msg mb-3">
              <div *ngIf="fnps['password'].errors['required']">Please enter Password.</div>
              <div *ngIf="fnps['password'].errors['minlength']">Password must be at least 8 characters. </div>
              <div *ngIf="fnps['password'].errors['maxlength']">Password can't be more than 16 characters. </div>
              <div *ngIf="fnps['password'].errors['pattern']">Please enter a valid Password.</div>
            </div>

            <!-- CONFIRM PASSWORD -->
            <div class="custom-input mb-3">
              <i class="fa-solid fa-lock"></i>
              <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                autocomplete="off">
            </div>

            <div *ngIf="NewPasswordsubmitted && fnps['confirmPassword'].errors" class="error-msg mb-3">
              <div *ngIf="fnps['confirmPassword'].errors['required']">Confirm Password is required.</div>
              <div *ngIf="fnps['confirmPassword'].errors['matching']">Confirm Password does not match
              </div>
            </div>

            <!-- SUBMIT -->
            <button class="btn-submit" type="submit" [disabled]="NewPasswordloading">
              <span *ngIf="NewPasswordloading" class="spinner-border spinner-border-sm me-2"></span>
              Submit
            </button>
          </form>

          <!-- SUCCESS MESSAGE -->
          <div class="success-alert" *ngIf="NewPasswordMessage">
            <div class="success-icon">
              <i class="fa-solid fa-circle-check"></i>
            </div>

            <h4>Password Updated</h4>
            <p>{{NewPasswordMessage}}</p>
            <a routerLink="/" class="success-login-btn">
              <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>
              Login Now
            </a>
          </div>

          <!-- ERROR -->
          <div *ngIf="NewPasswordMessageError" class="error-msg text-center mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>