<div class="flight-filter-sidebar">
    <!-- HEADER -->
    <div class="filter-header">
        <div class="filter-heading">
            <h5>Bus Filters</h5>
        </div>
    </div>
    <!-- PRICE FILTER -->
    <div class="filter-card">
        <div class="filter-card-header">
            <span>Price</span>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-price" (click)="togglebutton($event)"></i>
        </div>

        <div class="collapse show" id="filter-price">
            <div class="tts__filter-price price-range-slider px-3">
                <mat-slider [min]="min" [max]="max" class="w-100" (change)="doFilter('','','')">
                    <input [(ngModel)]="Filter['Price']['min']" name="first" matSliderStartThumb>
                    <input [(ngModel)]="Filter['Price']['max']" [ngModelOptions]="{standalone: true}" matSliderEndThumb>
                </mat-slider>
                <div class="d-flex justify-content-between">
                    <span>₹ {{ Filter['Price']['min'] |number:'1.0-0' }}</span>
                    <span>₹ {{ Filter['Price']['max'] |number:'1.0-0' }}</span>
                </div>
            </div>
            <!-- <div class="tts__filter-price price-range-slider">
                <div class="price-range price-filter"></div>
                <div class="tts-price-range">
                    <input type="text" class="left-price" readonly />
                    <input type="text" class="right-price text-end" readonly />
                </div>
            </div> -->
        </div>
    </div>
    <div class="filter-card">
        <div class="filter-card-header mb-0">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showincvfare" [(ngModel)]="showincentivefare"
                    (ngModelChange)="showfares('incv',showincentivefare)">
                <label class="form-check-label" for="showincvfare">Show Incv</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="shownetfare" [(ngModel)]="shownetfare"
                    (ngModelChange)="showfares('net',shownetfare)">
                <label class="form-check-label" for="shownetfare">Show Net</label>
            </div>
        </div>
    </div>
      <div class="filter-card">
        <div class="filter-card-header">
            <span>Departure Time</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('DepartTime')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-DepartTime"
                (click)="togglebutton($event)"></i>
        </div>
        <div class="collapse show" id="filter-DepartTime">
            <div class="time-grid">
                <label class="time-box" [class.active-time]="item.isChecked"
                    *ngFor="let item of Filter['DepartureTimeType']; let i=index;">
                    <input type="checkbox" class="d-none" name="depart_time" [id]="'departTime' + i"
                        value="{{item['value']}}" [(ngModel)]="item.isChecked"
                        (click)="doFilter('DepartTime',$event,item);" />
                    <div class="time-icon" [ngClass]="item.icon"></div>
                    <span>{{ item.label }}</span>
                </label>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Arrival Time</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('ArrivalTime')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-ArrivalTime"
                (click)="togglebutton($event)"></i>
        </div>
        <div class="collapse show" id="filter-ArrivalTime">
            <div class="time-grid">
                <label class="time-box" [class.active-time]="item.isChecked"
                    *ngFor="let item of Filter['ArrivalTimeType']; let i=index;">
                    <input type="checkbox" class="d-none" name="arrival_time" value="{{item['value']}}"
                        [id]="'ArrivalTime' + i" [(ngModel)]="item.isChecked"
                        (click)="doFilter('ArrivalTime',$event,item);" />

                    <div class="time-icon" [ngClass]="item.icon"></div>
                    <span>{{ item.label }}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="filter-card">
        <div class="filter-card-header">
            <span>Travel Operators</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('TravelName')">
                Clear
            </a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-travelname"
                (click)="togglebutton($event)"></i>
        </div>

        <div class="collapse show" id="filter-travelname">
            <input type="text" class="form-control" placeholder="Search Travel Operators"
                (input)="search($event,'TravelName')">
            <div class="hotel-search-dropdown mt-3">
                <div class="form-check" *ngFor="let item of bustravellist; let i = index">
                    <input type="checkbox" value="{{item['value']}}" [(ngModel)]="item['isChecked']"
                        [id]="'travelName' + i" class="form-check-input airline_filtercheck"
                        (click)="doFilter('TravelName',$event,item);">
                    <label class="form-checl-label" [for]="'TravelName' + i">{{item['label']}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-card-header">
            <span>Bus Type</span>
            <a href="javascript:void(0)" (click)="clearFilterByCat('BusType')">Clear</a>
            <i class="fa fa-minus" data-bs-toggle="collapse" href="#filter-bustype" (click)="togglebutton($event)"></i>
        </div>

        <div class="collapse show" id="filter-bustype">
            <input type="text" class="form-control" placeholder="Search Bus Type" (input)="search($event,'BusType')">
            <div class="hotel-search-dropdown mt-3">
                <div class="form-check" *ngFor="let item of bustypelist; let i = index">
                    <input type="checkbox" value="{{item['value']}}" [(ngModel)]="item['isChecked']"
                        [id]="'BusType' + i" class="form-check-input airline_filtercheck"
                        (click)="doFilter('BusType',$event,item);">
                    <label class="form-check-label" [for]="'BusType' + i">{{item['label']}}</label>
                </div>
            </div>
        </div>
    </div>

  
</div>












<div class="d-none">

    <div class="al-listbtm">
        <div class="al-priceac">
            <p class="al-prresets">
                <span>Price</span>
                <a href="javascript:void(0);" (click)="clearFilterByCat('Price')">
                    <span class="ast-recolor"><span>RESET</span></span>
                </a>
                <i class="fa fa-minus float-end filter-minus tts-cursor-pointer" data-bs-toggle="collapse"
                    href="#filter-price" (click)="togglebutton($event)"></i>
            </p>
            <div class="collapse show" id="filter-price">
                <div class="p-2 tts__filter-price">
                    <div class="price-range price-filter"></div>
                    <p class="tts-price-range">
                        <input type="text" class="left-price" readonly />
                        <input type="text" class="right-price text-end" readonly />
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="al-listbtm ">
        <div class="al-priceac">
            <p class="al-prresets">
                <span>Travel Operators</span>
                <a href="javascript:void(0)" (click)="clearFilterByCat('TravelName')">
                    <span class="ast-recolor"><span>Clear</span></span>
                </a>
                <i class="fa fa-minus float-end filter-minus tts-cursor-pointer" data-bs-toggle="collapse"
                    href="#filter-travelname" (click)="togglebutton($event)"></i>
            </p>

            <div class="mb-3">
                <input type="text" class="form-control filter-search-input" placeholder="Search Travel Operators"
                    (input)="search($event,'TravelName')">
            </div>

            <div class="collapse show" id="filter-travelname">
                <ul class="flight__airline__list">
                    <li class="flight__airline__item mt-0 a" *ngFor="let item of bustravellist">
                        <label class="tts-filter-airline">
                            <span class="flight__airline__name">{{item['label']}} </span>
                            <span class="float-end">
                                <span class="airline__total-price"></span>
                                <input type="checkbox" value="{{item['value']}}" [(ngModel)]="item['isChecked']"
                                    class="al-checkfield airline_filtercheck"
                                    (click)="doFilter('TravelName',$event,item);">
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="al-listbtm ">
        <div class="al-priceac">
            <p class="al-prresets">
                <span>Bus Type</span>
                <a href="javascript:void(0)" (click)="clearFilterByCat('BusType')">
                    <span class="ast-recolor"><span>Clear</span></span>
                </a>
                <i class="fa fa-minus float-end filter-minus tts-cursor-pointer" data-bs-toggle="collapse"
                    href="#filter-travelname" (click)="togglebutton($event)"></i>
            </p>

            <div class="mb-3">
                <input type="text" class="form-control filter-search-input" placeholder="Search Bus Type"
                    (input)="search($event,'BusType')">
            </div>

            <div class="collapse show" id="filter-travelname">
                <ul class="flight__airline__list">
                    <li class="flight__airline__item mt-0 a" *ngFor="let item of bustypelist">
                        <label class="tts-filter-airline">
                            <span class="flight__airline__name" title="{{item['label']}}">{{item['label']}} </span>
                            <span class="float-end">
                                <span class="airline__total-price"></span>
                                <input type="checkbox" value="{{item['value']}}" [(ngModel)]="item['isChecked']"
                                    class="al-checkfield airline_filtercheck"
                                    (click)="doFilter('BusType',$event,item);">
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="al-listbtm">
        <div class="al-priceac">
            <p class="al-prresets"><span>Departure Time</span>
                <a href="javascript:void(0)" (click)="clearFilterByCat('DepartTime')">
                    <span class="ast-recolor"><span>Clear</span></span>
                </a>
            </p>
        </div>
        <ul class="list-unstyled1">
            <li *ngFor="let item of Filter['DepartureTimeType']; let i=index;" class="tts-cursor-pointer"
                [ngClass]="{'border-end-0':i < Filter['DepartureTimeType'].length-1,'tts-filter-select':item.isChecked}">
                <label class="w-100 tts__checkbox__label tts__flight__timing tts-cursor-pointer">
                    <input type="checkbox" class="d-none tts__checkbox__input" name="depart_time"
                        value="{{item['value']}}" [(ngModel)]="item.isChecked"
                        (click)="doFilter('DepartTime',$event,item);" />
                    <span class="icon_sort {{item['icon']}}"></span>
                    <span class="icon_num">{{item['label']}}</span>
                </label>
            </li>
        </ul>
    </div>

    <div class="al-listbtm">
        <div class="al-priceac">
            <p class="al-prresets"><span>Arrival Time</span>
                <a href="javascript:void(0)" (click)="clearFilterByCat('ArrivalTime')">
                    <span class="ast-recolor"><span>Clear</span></span>
                </a>
            </p>
        </div>
        <ul class="list-unstyled1">
            <li *ngFor="let item of Filter['ArrivalTimeType']; let i=index;" class="tts-cursor-pointer"
                [ngClass]="{'border-end-0':i < Filter['ArrivalTimeType'].length-1,'tts-filter-select':item.isChecked}">
                <label class="w-100 tts__checkbox__label tts__flight__timing tts-cursor-pointer">
                    <input type="checkbox" class="d-none tts__checkbox__input" name="arrival_time"
                        value="{{item['value']}}" [(ngModel)]="item.isChecked"
                        (click)="doFilter('ArrivalTime',$event,item);" />
                    <span class="icon_sort {{item['icon']}}"></span>
                    <span class="icon_num">{{item['label']}}</span>
                </label>
            </li>
        </ul>
    </div>
</div>