
     <div class="al-listbtm">
       <div class="al-priceac">
            <p class="al-prresets">
                <span>Price</span>
                <a href="javascript:void(0);" (click)="clearFilterByCat('Price')">
                    <span class="ast-recolor"><span>RESET</span></span>
                </a>
                <i class="fa fa-minus float-end filter-minus tts-cursor-pointer" data-bs-toggle="collapse" href="#filter-price" (click)="togglebutton($event)"></i>
            </p>
            <div class="collapse show" id="filter-price">
                <div class="p-2 tts__filter-price">
                    <div class="price-range price-filter"></div>
                    <p class="tts-price-range">
                        <input type="text" class="left-price" readonly />
                        <input type="text" class="right-price text-end" readonly />
                    </p>
                </div>
            </div>
            
       </div>
    </div>
   

     <div class="al-listbtm ">
       <div class="al-priceac">
            <p class="al-prresets">
                <span>Travel Operators</span>
                <a href="javascript:void(0)" (click)="clearFilterByCat('TravelName')">
                    <span class="ast-recolor"><span>Clear</span></span>
                </a>
                <i class="fa fa-minus float-end filter-minus tts-cursor-pointer" data-bs-toggle="collapse" href="#filter-travelname" (click)="togglebutton($event)"></i>
            </p>

            <div class="mb-3">
                <input type="text" class="form-control filter-search-input" placeholder="Search Travel Operators" (input)="search($event,'TravelName')">
            </div>

            <div class="collapse show" id="filter-travelname">
                <ul class="flight__airline__list">
                    <li class="flight__airline__item mt-0 a" *ngFor="let item of bustravellist">
                     <label class="tts-filter-airline">
                         <span class="flight__airline__name">{{item['label']}} </span>
                         <span class="float-end">
                             <span class="airline__total-price"></span>
                             <input type="checkbox" value="{{item['value']}}" [(ngModel)]="item['isChecked']" class="al-checkfield airline_filtercheck" (click)="doFilter('TravelName',$event,item);">
                         </span>
                       </label>
                    </li>
                 </ul>
            </div>
       </div>
    </div>

     <div class="al-listbtm ">
       <div class="al-priceac">
            <p class="al-prresets">
                <span>Bus Type</span>
                <a href="javascript:void(0)" (click)="clearFilterByCat('BusType')">
                    <span class="ast-recolor"><span>Clear</span></span>
                </a>
                <i class="fa fa-minus float-end filter-minus tts-cursor-pointer" data-bs-toggle="collapse" href="#filter-travelname" (click)="togglebutton($event)"></i>
            </p>

            <div class="mb-3">
                <input type="text" class="form-control filter-search-input" placeholder="Search Bus Type" (input)="search($event,'BusType')">
            </div>

            <div class="collapse show" id="filter-travelname">
                <ul class="flight__airline__list">
                    <li class="flight__airline__item mt-0 a" *ngFor="let item of bustypelist">
                     <label class="tts-filter-airline">
                         <span class="flight__airline__name" title="{{item['label']}}">{{item['label']}} </span>
                         <span class="float-end">
                             <span class="airline__total-price"></span>
                             <input type="checkbox" value="{{item['value']}}" [(ngModel)]="item['isChecked']" class="al-checkfield airline_filtercheck" (click)="doFilter('BusType',$event,item);">
                         </span>
                       </label>
                    </li>
                 </ul>
            </div>
       </div>
    </div>

    <div class="al-listbtm">
        <div class="al-priceac">
             <p class="al-prresets"><span>Departure Time</span>    
                <a href="javascript:void(0)" (click)="clearFilterByCat('DepartTime')">
                <span class="ast-recolor"><span>Clear</span></span>
                </a>
            </p>
        </div>
        <ul class="list-unstyled1">
            <li *ngFor="let item of Filter['DepartureTimeType']; let i=index;" class="tts-cursor-pointer" [ngClass]="{'border-end-0':i < Filter['DepartureTimeType'].length-1,'tts-filter-select':item.isChecked}">
                <label class="w-100 tts__checkbox__label tts__flight__timing tts-cursor-pointer">
                    <input type="checkbox" class="d-none tts__checkbox__input" name="depart_time" value="{{item['value']}}" [(ngModel)]="item.isChecked" (click)="doFilter('DepartTime',$event,item);" />
                    <span class="icon_sort {{item['icon']}}"></span>
                    <span class="icon_num">{{item['label']}}</span>
                </label>
            </li>
        </ul>
     </div> 
     
     <div class="al-listbtm">
        <div class="al-priceac">
            <p class="al-prresets"><span>Arrival Time</span> 
                <a href="javascript:void(0)" (click)="clearFilterByCat('ArrivalTime')">
                  <span class="ast-recolor"><span>Clear</span></span>
                </a>
              </p>
        </div>
        <ul class="list-unstyled1">
            <li *ngFor="let item of Filter['ArrivalTimeType']; let i=index;" class="tts-cursor-pointer" [ngClass]="{'border-end-0':i < Filter['ArrivalTimeType'].length-1,'tts-filter-select':item.isChecked}">
                <label class="w-100 tts__checkbox__label tts__flight__timing tts-cursor-pointer">
                    <input type="checkbox" class="d-none tts__checkbox__input" name="arrival_time" value="{{item['value']}}" [(ngModel)]="item.isChecked" (click)="doFilter('ArrivalTime',$event,item);" />
                    <span class="icon_sort {{item['icon']}}"></span>
                    <span class="icon_num">{{item['label']}}</span>
                </label>
            </li>
        </ul>
     </div>
  