.w-30 {
    width: 27% !important;
}
.w-18 {
    width: 20% !important;
}
.ps-18{
    padding-left: 18px !important;
}

.search-form-inp-down{
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
    z-index: 1;
}

.flight_section .flight_box .tab-content .persent-one .at-passection{
       padding: 0;
    left: -83px;
    width: 133%;
}
.flight_section .flight_box .tab-content .persent-one span.title{
    position: relative;
    left: 0;
    top: 0;
}
.detail-content ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.detail-content ul li{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    margin: 0 15px;
    padding-top: 15px;
    text-align: center;
}
.detail-content ul li .left-block {
    flex: 0 0 25%;
    max-width: 25%;
}
.detail-content ul li .right-block  {
    flex: 0 0 35%;
    max-width: 35%;
}


.detail-content ul li .left-block  h5 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #37404d;
}
.detail-content ul li .input-group {
    justify-content: center;
}
.detail-content .input-group-append, .detail-content .input-group-prepend {
    display: flex;
}
.detail-content  button.btn {
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.15);
    background-color: #f6f7fa;
    padding: 0;
    border-radius: 0!important;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-content .input-group-append .btn, .detail-content .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}
.detail-content .right-block .quantity {
    padding: 0 ;
    text-align: center;
    max-width: 45px;
    height: 36px;
    border-radius: 0;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    color: #37404d;
    font-size: 16px;
    margin: 0 -12px;
}
.hotelpaxcount_message{
    text-align: center;
    display: block;
    margin-bottom: 10px;
    position: relative!important;
    top: 0!important;
    left: 0!important;
    color: red;
}
.detail-content .add-remove-block {
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.08);
    vertical-align: middle;
}
.detail-content .add-remove-block button {
    float: left;
    width: 50%;
    height: 52px;
    background: none;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    transition: all .3s;
    border: none;
    border-right: 1px solid rgba(0,0,0,.08);
}
.detail-content .add-remove-block button:last-child {
    border-right: none;
}