<section class="hero-section pt-0">
  <div id="heroCarousel" class="carousel slide carousel-fade hero-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators custom-indicators">
            @for (item of GetWebSiteData['HomeSlider']; track $index) {
                <button type="button" class="d-none"  data-bs-target="#heroCarousel" [attr.data-bs-slide-to]="$index"  [ngClass]="{'active':$index==0}" ></button>
            }
            
        </div>
        <div class="carousel-inner">
            @for (item of GetWebSiteData['HomeSlider']; track $index) {
                <div class="carousel-item" [ngClass]="{'active':$index==0}" >

                    <img [src]="item['Image']" class="hero-img"
                        [alt]="item['Title']">
                </div>
            }

        </div>

        <!-- NAVIGATION -->
        <button class="carousel-control-prev custom-nav" type="button" data-bs-target="#heroCarousel"
            data-bs-slide="prev">

            <span class="nav-icon">
                <i class="fa-solid fa-chevron-left"></i>
            </span>
        </button>

        <button class="carousel-control-next custom-nav" type="button" data-bs-target="#heroCarousel"
            data-bs-slide="next">

            <span class="nav-icon">
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </button>

    </div>
</section>
<!----------search--form---width----banner------------>
<div class="flight_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flight_box">
          <ul class="search-tabs">
            <li>
              <a href="javascript:void(0)" routerLink="/flight" class="tab-link ">
                <i class="fas fa-plane-departure"></i>
                <span>Flight</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" routerLink="/hotel" class="tab-link active">
                <i class="fas fa-building"></i>
                <span>Hotel</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" routerLink="/bus" class="tab-link">
                <i class="fas fa-bus"></i>
                <span>Bus</span>
              </a>
            </li>
          </ul>
          <form [formGroup]="HotelSearchForm" (ngSubmit)="HotelSearchData()" id="hotel-form">

            <div class="tab-content">
              <div class="tab-pane fade show active" id="flight-tab-pane" role="tabpanel" aria-labelledby="flight-tab"
                tabindex="0">
                <div class="flight-tab d-lg-flex">
                  <div class="d-flex form-info">
                    <div class="persent-one ">
                      <label class="custom-label">Destination</label>
                      <span class="srchicons"><i class="fa-solid fa-map-marker"></i></span>
                      <input type="text" formControlName="Destination" class="textboxstyle autosuggeest-hotel"
                        placeholder="Destination ?" (click)="openautocomplete($event,'input')">
                      <i class="fa fa-angle-down search-form-inp-down" *ngIf="fh['Destination'].value==''"></i>
                      <i class="fa fa-times search-form-inp-down" (click)="Cleardata('Destination')"
                        *ngIf="fh['Destination'].value!=''"></i>
                      <div *ngIf="hotelsubmitted && fh['Destination'].errors" class="error-msg">
                        <div *ngIf="fh['Destination'].errors['required']">Please enter a location name
                        </div>
                      </div>
                    </div>

                    <div class="persent-one less-per">
                      <label class="custom-label">Check In</label>
                      <span class="srchicons"><i class="fa-solid fa-calendar"></i></span>
                      <input type="text" formControlName="CheckIn" class="textboxstyle" data-checkin-date>
                      <div *ngIf="hotelsubmitted && fh['CheckIn'].errors" class="error-msg">
                        <div *ngIf="fh['CheckIn'].errors['required']">Please enter a valid check in date</div>
                      </div>
                    </div>

                    <div class="persent-one less-per at-returnin">
                      <label class="custom-label">Check Out</label>
                      <span class="srchicons"><i class="fa-solid fa-calendar"></i></span>
                      <input type="text" formControlName="CheckOut" class="textboxstyle textboxstyle-bg"
                        data-checkout-date [ngClass]="{ 'is-invalid': hotelsubmitted && fh['CheckOut'].errors }">
                      <div *ngIf="hotelsubmitted && fh['CheckOut'].errors" class="error-msg">
                        <div *ngIf="fh['CheckOut'].errors['required']">Please enter a valid check out date</div>
                        <div *ngIf="fh['CheckOut'].errors['noofnight']">Maximum 14 nights for online hotel booking is
                          allowed.</div>
                      </div>
                    </div>

                    <div class="persent-one persent-one_ps-4">
                      <label class="custom-label">Rooms & Guests</label>
                      <span class="srchicons"><i class="fa-solid fa-person"></i></span>
                      <div class="textboxstyle" id="passenger" (click)="HotelPaxDisplay()">
                        <p class="Pass"> {{Occupancy}}</p>
                      </div>


                      <!-----new code start---->
                      <div class="at-passection" [ngClass]="{'d-none': isHotelShow===false}">
                        <div class="hotel-pax-container">
                          <!-- Close -->
                          <button type="button" class="hotel-close-btn" (click)="HotelPaxDisplay()">×</button>


                          <!-- Rooms -->
                          <div class="room-list">

                            <div class="room-card" *ngFor="let roomrow of arrayOne(roomcount); let r = index">

                              <!-- Room Title -->
                              <div class="room-card-header">
                                <h5>Room {{ r + 1 }}</h5>
                              </div>

                              <!-- Adults -->
                              <div class="guest-row">
                                <div class="guest-info">
                                  <span class="guest-title">Adults</span>
                                  <small>12+ Years</small>
                                </div>

                                <div class="counter-wrapper">
                                  <button type="button" class="counter-btn" (click)="hotelminus('a',r)">-</button>
                                  <input class="counter-input" type="number" readonly min="1"
                                    value="{{roomobject[r].Adult}}">
                                  <button type="button" class="counter-btn" (click)="hotelplus('a',r)">+</button>
                                </div>
                              </div>

                              <!-- Children -->
                              <div class="guest-row">
                                <div class="guest-info">
                                  <span class="guest-title">Children</span>
                                  <small>1 - 12 Years</small>
                                </div>

                                <div class="counter-wrapper">
                                  <button type="button" class="counter-btn" (click)="hotelminus('c',r)">-</button>
                                  <input class="counter-input" type="number" readonly min="0"
                                    value="{{roomobject[r].Child}}">
                                  <button type="button" class="counter-btn" (click)="hotelplus('c',r)">+</button>
                                </div>
                              </div>

                              <!-- Child Ages -->
                              <div class="child-age-section" *ngIf="roomobject[r].Child > 0">

                                <div class="age-field">
                                  <label>Age of Child 1</label>
                                  <select class="form-select age-select" (change)="childage($event,0,r)">
                                    <option *ngFor="let chdage of arrayOne(12); let c = index" [value]="c+1">
                                      {{c+1}}
                                    </option>
                                  </select>
                                </div>

                                <div class="age-field" *ngIf="roomobject[r].Child == 2">
                                  <label>Age of Child 2</label>
                                  <select class="form-select age-select" (change)="childage($event,1,r)">
                                    <option *ngFor="let chdage of arrayOne(12); let c=index" [value]="c+1">
                                      {{c+1}} Years
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>

                          </div>

                          <small class="hotelpaxcount_message text-danger"></small>

                          <!-- Actions -->
                          <div class="room-actions">
                            <button type="button" class="btn-remove" (click)="removeroom()"
                              [disabled]="roomcount == 1">Remove Room</button>
                            <button type="button" class="btn-add" (click)="addroom()" [disabled]="roomcount == 4">Add
                              Room</button>
                          </div>
                        </div>
                      </div>
                      <!-----new code end------>
                    </div>

                    <div class="persent-one less-per at-returnin">
                      <label class="custom-label">Select Nationality</label>
                      <span class="srchicons">
                        <i class="fa-solid fa-earth-asia"></i>
                      </span>

                      <select class="textboxstyle textboxstyle-bg" formControlName="Nationality">
                        <option value="">Select Nationality</option>
                        @for (item of NationalityLits; track $index) {
                          <option value="{{item['country_code']}}">{{item['name']}}</option>
                        }
                      </select>
                    </div>
                  </div>


                </div>
                <div class="makeflex">
                  <div class="less-btn">
                    <button type="submit" class="cst-btn" [disabled]="Hotelloading"> <span *ngIf="Hotelloading"
                        class="spinner-border spinner-border-sm"></span> Search Hotel</button>
                  </div>
                </div>
                <!--<div class="flight-tab row col-md-12">
                                <div class="makeflex">
                                  <span>More Options:</span>

                                  <mat-form-field class="text-white" appearance="fill">
                                    <mat-label class="text-white">Rating</mat-label>
                                    <mat-select  multiple class="text-white">
                                      <mat-option *ngFor="let star of StarRatingList" [value]="star">{{star}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>

                                  <mat-form-field class="text-white" appearance="fill" *ngIf="NationalityLits.length!=0">
                                    <mat-label class="text-white">Nationality</mat-label>
                                    <input type="text" placeholder="Nationality"
                                           aria-label="Number"
                                           matInput
                                           [matAutocomplete]="auto">
                                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                      <mat-option *ngFor="let option of NationalityLits" [value]="option['name']">
                                        {{option['name']}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                  
                                </div>
                            </div>-->

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!------Recente Search----->
    <div class="recent-search-section">
      <div class="recent-search-header">
        <div>
          <h3 class="title">Recent Searches</h3>
        </div>
      </div>
      <div class="recent-search-grid">
        @for (item of getRecentSearch; track $index) {
        <div class="recent-card" (click)="recentsearch(item)">
          <div class="at-viewlastbg">
            <div class="recent-top">
              <div class="flight-icon"><i class="fas fa-bed"></i></div>
              <div class="route-text"> {{item['Destination'].split(",")[0].trim()}}</div>
            </div>
            <div class="recent-bottom"><span class="date-text"> {{item['CheckIn'] |date:'dd MMM yyyy'}} </span></div>
            <div class="recent-bottom"><span class="passenger-count"> {{item['Occupancy']}} </span><i class="fa fa-user user-icon"></i></div>
          </div>
        </div>
        }
       
      </div>
    </div>
  </div>
</div>
<!----------End search--form---width----banner------------>





<!----------Deal---and---offer---start------->
<section class="deal-offer-section d-none">
  <div class="container">
    <div class="section-title">
      <h2>Deals & Offers</h2>
      <!-- <p>Explore the latest travel deals, discounts and important updates</p> -->
    </div>

    <div class="text-center" *ngIf="offerloading===true">
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div class="deal-layout" *ngIf="offerloading===false">
      <div class="offer-grid">
        <div class="offer-item" *ngFor="let item of Offer">
          <div class="offer-card">
            <div class="offer-image">
              <img [src]="item['Image']" class="card-img-top" alt="{{item['Title']}}">
            </div>
            <div class="offer-overlay">
              <h5 class="offer-title">
                {{item['Title']}}
              </h5>
              <p class="offer-description">
                {{item['Description']}}
              </p>
              <button type="button" class="offer-btn"> Explore Deal <i class="fa fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-------------Start For Blog------------->
<section id="recent-posts" class="recent-posts sections-bg py-3 d-none" *ngIf="BlogList.length!=0">
  <div class="container">
    <div class="section-header mb-4">
      <h4>Recent Blog Posts
        <span class="float-end"><a routerLink="/blog" class="fs-12">View All</a> </span>
      </h4>
    </div>
    <div class="row gy-4">
      <div class="col-md-3" *ngFor="let item of BlogList">
        <article>
          <div class="post-img">
            <img [src]="item['Image']" alt="{{item['Title']}}" class="img-fluid" />
          </div>
          <h2 class="title">
            <a routerLink="/blog/detail/{{item['Slug']}}" title="{{item['Title']}}">
              {{item['Title'].length>28?(item['Title']|slice:0:28) +'...':item['Title']}}
            </a>
          </h2>
          <div class="d-flex align-items-center mb-2">
            <div class="post-meta">
              <p class="post-date">
                <span><i class="fa fa-calendar"></i> {{item['Created']}}</span> <span class="post-author-img ms-2"> <i
                    class="fa fa-user"></i> {{item['PostedBy']}}</span>
              </p>
            </div>
          </div>
          <div class="desc">
            {{item['Description'].length>120?(item['Description']|slice:0:120) +'...':item['Description']}}
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!---------Start For Client Review------------------>
<section class="client-review sections-bg py-3 d-none" *ngIf="TestimonialsList.length!=0">
  <div class="container">
    <div class="section-header mb-4">
      <h4>Testimonials
        <span class="float-end"><a routerLink="/testimonials" class="fs-12">View All</a> </span>
      </h4>
      <p>We place huge value on strong relationships and have seen the benefit they bring to our business. Customer
        feedback is vital in helping us to get it right.</p>
    </div>
    <div class="row gy-4">
      <div class="col-md-3" *ngFor="let item of TestimonialsList.slice(0, 4)">
        <div class="testimonial">
          <img [src]="item['Image']" class="img-fluid" alt="{{item['Name']}}">
          <h5>{{item['Name']}}</h5>
          <div class="testimonial-content">
            <p>{{item['Description']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---------End For Client Review------------------->