.nobuses {
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    display: none;
}
.no_bus-content {
    text-align: center;
}
.no_bus-content p {
    color: #333;
    margin: 0;
    line-height: 1.3;
}

.fs-10{
    font-size: 10px;
}
.tts__flight__price{
    font-size: 16px;
}
.arrival_date{
    line-height: 10px;
    position: absolute;
    font-size: 12px;
}

.tts-text-ellpsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
}

