<section class="terms-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="terms-content">
                    <div class="mb-5">
                        <div class="text-center">
                            <h4 class="terms-content-heading fw-semibold mb-5">Payment Security</h4>
                        </div>
                        <p>
                            At {{GetWebSiteData['CompanyName']}}, we prioritize the security of your payment information. We are committed to providing a safe and secure online payment experience. Here’s how we ensure the security of your transactions: 
                        </p>
                    </div>
                    <div class="page-content mb-4" *ngFor="let data of details;let i=index">
                        <h6 class="terms-content-heading fw-semibold"> {{i+1}}. {{data['Title']}}</h6>
                        <p>
                            {{data['Description']}}
                        </p>
                    </div>
                </div>
                
                   
                    
           
            </div>
        </div>
    </div>
</section>