<section class="travel-auth-section">
  <div class="container">
    <div class="row align-items-center justify-content-center g-0">
      <!-- LEFT SIDE CONTENT -->
      <div class="col-lg-7 d-none d-lg-block">
        <div class="travel-auth-banner">

          <div class="travel-shape shape-1"></div>
          <div class="travel-shape shape-2"></div>
          <div class="travel-shape shape-3"></div>

          <div class="travel-banner-content">
            <span class="travel-badge">
              <i class="fa-solid fa-plane-departure"></i>
              Smart Travel Experience
            </span>

            <h1>
              Travel Smarter <br>
              With <span>{{GetWebSiteData['CompanyName']}}</span>
            </h1>

            <p>
              Manage bookings, track activities, verify securely,
              and enjoy a premium digital travel experience.
            </p>

            <div class="travel-feature-grid">

              <div class="travel-feature-box">
                <i class="fa-solid fa-earth-asia"></i>
                <h5>Worldwide Tours</h5>
              </div>

              <div class="travel-feature-box">
                <i class="fa-solid fa-shield-heart"></i>
                <h5>Secure Access</h5>
              </div>

              <div class="travel-feature-box">
                <i class="fa-solid fa-ticket"></i>
                <h5>Easy Booking</h5>
              </div>

              <div class="travel-feature-box">
                <i class="fa-solid fa-headset"></i>
                <h5>24×7 Support</h5>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-8" *ngIf="ActiveStep=='CheckUser'">
        <div class="auth-card">
          <div class="auth-card-top">
            <img src="{{GetWebSiteData['Logo']}}" alt="" class="logo">
            <h2>Welcome Back</h2>
            <p>Login to continue your journey</p>
          </div>

          <form [formGroup]="LoginForm" (ngSubmit)="LoginSubmit()">
            <!-- EMAIL -->
            <div class="input-group-custom mb-4">
              <i class="fa-regular auth-icons fa-envelope"></i>
              <input type="email" formControlName="emailphone" placeholder="Enter email or mobile number"
                autocomplete="off">
              <div *ngIf="Loginsubmitted && f['emailphone'].errors" class="error-msg">
                <div *ngIf="f['emailphone'].errors['required'] || f['emailphone'].errors['pattern']">Please enter valid
                  Email Id / Mobile Number.
                </div>
              </div>
            </div>

            <!-- PASSWORD -->
            <div class="input-group-custom mb-3">
              <i class="fa-solid fa-lock auth-icons"></i>
              <input type="password" [type]="isVisible ==true  ? 'text' : 'password'" formControlName="password"
                placeholder="Password" autocomplete="off">
              <span class="toggle-pass" (click)="showPassword()" id="eyeIcon">
                <i class="fa-regular" [ngClass]="isVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
              </span>

              <div *ngIf="Loginsubmitted && f['password'].errors" class="error-msg">
                <div *ngIf="f['password'].errors['required']">Please enter valid Password. </div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least 8 characters. </div>
                <div *ngIf="f['password'].errors['maxlength']">Password can't be more than 16 characters. </div>
              </div>
            </div>

            <!-- BUTTON -->
            <button class="btn-login" type="submit" [disabled]="Loginloading">
              <span *ngIf="Loginloading" class="spinner-border spinner-border-sm me-2"></span> Login Now
            </button>

            <div *ngIf="LoginMessage" [innerHtml]="LoginMessage"></div>

            <!-- REMEMBER -->
            <div class="remember-row mt-4">
              <a routerLink="/forgot-password">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-8" *ngIf="ActiveStep=='VarifyOTP'">
        <div class="auth-card otp-card">
          <div class="auth-card-top text-center">
            <div class="otp-icon">
              <i class="fa-solid fa-user-shield"></i>
            </div>
            <h2>OTP Verification</h2>
            <p>Enter the 6 digit code sent to your registered email & mobile number </p>
          </div>

          <form [formGroup]="VarifyOTP" (ngSubmit)="LoginSubmitOTP()">
            <div class="otp-wrapper mb-4">

              <input type="text" id="one" maxlength="1" (keyup)="clickEvent($event,'two')"
                (keydown)="onKeyDown($event, 0)" (paste)="onPaste($event)" (keypress)="numberOnly($event)" #otpInput
                [ngClass]="{ 'is-invalid': VerifyOTPSubmitted && fv['otp'].errors }" [(ngModel)]="inputotp[0]"
                [ngModelOptions]="{standalone: true}">


              <input type="text" id="two" maxlength="1" (keyup)="clickEvent($event,'three')"
                (keydown)="onKeyDown($event, 1)" (paste)="onPaste($event)" (keypress)="numberOnly($event)" #otpInput
                [ngClass]="{ 'is-invalid': VerifyOTPSubmitted && fv['otp'].errors }" [(ngModel)]="inputotp[1]"
                [ngModelOptions]="{standalone: true}">


              <input type="text" id="three" maxlength="1" (keyup)="clickEvent($event,'four')"
                (keydown)="onKeyDown($event, 2)" (paste)="onPaste($event)" (keypress)="numberOnly($event)" #otpInput
                [ngClass]="{ 'is-invalid': VerifyOTPSubmitted && fv['otp'].errors }" [(ngModel)]="inputotp[2]"
                [ngModelOptions]="{standalone: true}">


              <input type="text" id="four" maxlength="1" (keyup)="clickEvent($event,'five')"
                (keydown)="onKeyDown($event, 3)" (paste)="onPaste($event)" (keypress)="numberOnly($event)" #otpInput
                [ngClass]="{ 'is-invalid': VerifyOTPSubmitted && fv['otp'].errors }" [(ngModel)]="inputotp[3]"
                [ngModelOptions]="{standalone: true}">


              <input type="text" id="five" maxlength="1" (keyup)="clickEvent($event,'six')"
                (keydown)="onKeyDown($event, 4)" (paste)="onPaste($event)" (keypress)="numberOnly($event)" #otpInput
                [ngClass]="{ 'is-invalid': VerifyOTPSubmitted && fv['otp'].errors }" [(ngModel)]="inputotp[4]"
                [ngModelOptions]="{standalone: true}">


              <input type="text" id="six" maxlength="1" #otpInput (paste)="onPaste($event)"
                (keypress)="numberOnly($event)" (keydown)="onKeyDown($event, 5)"
                [ngClass]="{ 'is-invalid': VerifyOTPSubmitted && fv['otp'].errors }" [(ngModel)]="inputotp[5]"
                [ngModelOptions]="{standalone: true}">


            </div>
            <div *ngIf="VerifyOTPSubmitted && fv['otp'].errors" class="error-feedback">
              <div
                *ngIf="fv['otp'].errors['required'] || fv['otp'].errors['minlength'] || fv['otp'].errors['maxlength']">
                Please enter valid OTP.
              </div>
            </div>
            <button class="btn-login" type="submit" [disabled]="OTPLoginloading">
              <span *ngIf="Loginloading" class="spinner-border spinner-border-sm me-2"></span> Verify OTP
            </button>
            <div *ngIf="LoginMessage" [innerHtml]="LoginMessage"></div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>