<div class="booking-wrapper">
    <div class="top-tabs">

        <button class="btn" [ngClass]="{'active-tab':activeService=='Flight'}" 
        (click)="activeService='Flight'"> Flights</button>

        <button class="btn" [ngClass]="{'active-tab':activeService=='Hotel'}"
            (click)="activeService='Hotel'">Hotels</button>

        <button class="btn" [ngClass]="{'active-tab':activeService=='Bus'}" 
        (click)="activeService='Bus'">Bus</button>

    </div>
    
    @if(activeService=='Flight'){
        <app-manage-markup></app-manage-markup>
    }@else if(activeService=='Hotel'){
    <app-hotel></app-hotel>
    }
</div>